<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Search</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <div class="main-container">
            <div class="main clearfix">
                <div class="floaty-header" id="floaty-header-details">
                    <h2>Movie Search</h2>
                    <a href="#favorites" class="favorites-link">Favorites</a>
                    <form action="#"> 
                        <input id="search-input" type="text" class="input-medium search-query" onkeyup="searchInputOnkeyup()">
                    </form>
                </div>
                <div id="details-view">
                    <div id="details-body" class="wrapper">
                    </div>
                </div>
                <div id="list-view">
                    <div id="list-body" class="wrapper">
                        <ul id="list">
                        </ul>
                    </div>
                </div>
                <div id="favorites-view">
                    <div id="favorites-body" class="wrapper">
                    </div>
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
        <script src="js/main.js"></script>
    </body>
</html>
