<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <div class="main-container">
            <div class="main clearfix">
                <section class="floatyHeader" id="floatyHeaderDetails">
                    <h2>Movie Search</h2>
                    <a href="#favorites" class="favoritesLink">Favorites</a>
                    <form class="form-search" action="#"> 
                        <input id="searchInput" type="text" class="input-medium search-query" onkeyup="searchInputOnchange()">
                        <!-- <button type="submit" class="btn">Search</button> -->
                    </form>
                </section>
                <article id="detailsView">
                    <section id="detailsBody" class="wrapper">
                    </section>
                </article>
                <article id="listView">
                    <section id="listBody" class="wrapper">
                        <ul id="list">
                        </ul>
                    </section>
                </article>
                <article id="favoritesView">
                    <section id="favoritesBody" class="wrapper">
                    </section>
                </article>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
        <script src="js/main.js"></script>
    </body>
</html>
